<nav class="navbar navbar-expand-sm navbar-dark bg-primary mb-3">
    <div class="container">
        <a href="/" class="navbar-brand">Admin</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse">
            <span class="navbar-toggle-icon"></span>
        </button>

        <div class="collapse navbar-collapse">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a href="/" class="nav-link">Scores</a>
                </li>
                <li class="nav-item">
                    <a href="/tests" class="nav-link">Tests</a>
                </li>
                <li class="nav-item">
                    <a href="/questions" class="nav-link">Questions</a>
                </li>
            </ul>
        </div>
    </div>
</nav>